<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding">
    <ion-item-group>
      <ion-item-divider sticky><ion-label>Demo</ion-label></ion-item-divider>
      <ion-item>
        <ion-icon name="bug" slot="start"></ion-icon>
        <ion-label>Demo</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bug" slot="start"></ion-icon>
        <ion-label>Demo</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bug" slot="start"></ion-icon>
        <ion-label>Demo</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bug" slot="start"></ion-icon>
        <ion-label>Demo</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bug" slot="start"></ion-icon>
        <ion-label>Demo</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider sticky><ion-label>Demo</ion-label></ion-item-divider>
      <ion-item>
        <ion-icon name="bug" slot="start"></ion-icon>
        <ion-label>Demo</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bug" slot="start"></ion-icon>
        <ion-label>Demo</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bug" slot="start"></ion-icon>
        <ion-label>Demo</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bug" slot="start"></ion-icon>
        <ion-label>Demo</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bug" slot="start"></ion-icon>
        <ion-label>Demo</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
